body {
  font-family: 'montserrat', sans-serif;
  font-family: Arial, sans-serif;
  background-color: #ccc;
  background-image: url('f0f0f0.jpg');
}

header {
  background-color: #ffa500;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
}

footer {
  color: #333;
  padding: 20px;
  text-align: center;
  clear: both;
  font-family: 'montserrat', sans-serif;
  font-size: 3px;
  text-align: center;
}

.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffa500;
}

#shorten-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#shorten-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#shorten-form button {
  padding: 10px;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#shorten-form button:hover {
  background-color: #a37000;
}

#result {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
}

/* Define the transparent theme */
.transparent-theme {
  background-color: transparent;
  box-shadow: none;
}

.transparent-theme .container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: none;
}

.transparent-theme h1 {
  color: #ffa500;
}

.transparent-theme #shorten-form > input {
  border-color: #ccc;
  border-radius: 4px;
  box-shadow: none;
}

.transparent-theme #shorten-form > button {
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none;
}

.transparent-theme #shorten-form > button:hover {
  background-color: #a37000;
}

.transparent-theme #result {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
}